body{
    background-color: red;
    background: url(big-buck.jpg);
}

.normal{
    border: 2px solid black;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 1);/*color negro*/
    color: white;
}

.bajo{
    border: 2px solid black;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.75);/*baje 25%*/
    color: white;
}

.medio{
    border: 2px solid black;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);/*baje 50%*/
    color: white;
}

.alto{
    border: 2px solid black;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.25);/*baje 75%*/
    color: white;
}