.contenedor{
    background-color: gray;
    display: inline-flex;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;



}

.item{
    background-color: blue;
    width: 300%;
    height: 100%;
    font-size: 30px;
    margin: 5px;
    color: white;
}